body{
    background-color: #050d1a;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    text-align: center;
}
.hellow{
    color: white;
}
.menu{
    font-size: 38px;
}
nav img{
    width: 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 4rem  0;
}
.skill{
    font-family: "Trirong", serif;
}
.header-skill{
 display: flex;
 align-items: center;
 gap: 1rem;
 margin: 3rem 0 0 0;
}
.lineLight {
    background: #ff0080;
    border-radius: 12px;
    height: 2px;
    background: #8E1616;
    animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px #ff0080;
    }
    to {
      box-shadow: 0 0 25px #ff0080;
    }
  }
  .wrapper__icone-skill{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.7rem;
    max-width: 400px;
  }
  .icon-logo{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 10px;
  }
  .project{
    display: flex;
    gap: 1rem;
  }

  .project-img{
    width: 100px;
    height: 200px;
    background-color: #8E1616;
  }
  .wrapper__button-header{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0 0 0;

  }

  .button-header{
    width: 45%;
     height: 45px;
     border-radius: 10px;
      border: none;
    font-size: 1rem;
    box-shadow: rgba(142, 22, 22, 0.7) 0px 4px 12px;
  }